/* .modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}


.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

/* ******************** containers ************************* */
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width:960px;
    margin:0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* ******************** general typography ****************** */
h1 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 22px 0;
  font-size: 86px;
}

h2 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 57px;
}

/* *********************** banner section ************************** */

/* the image is not on top of the section BUT in the background of the section */
.banner {
    background-color: #b29789; /* place default background color */
    background-image: url(../img/banner-flower.png); /* place background image */
    padding-left: 35px;
    border-radius: 8px;

    /* other background image attribute that can be used for adjustments */
    /* background-repeat:no-repeat; only one copy of image in area */
    /*background-size: cover;  have image fill the banner section */
    /*background-position:center;  place place image in center */
}

.banner h2 {
    padding-top: 30px;
}

.banner p {
    width: 339px;
    font-size: 40px;
    line-height: 1; /* this will adjust the line spacing. it is a multipler. No unit measure.*/
    margin-bottom: 27px;
}

.banner a {
    font-size: 18px;
    text-decoration: none; /* remove underline */
    color: black;
    font-weight: 500;
    background-color: #ffc800;
    border-radius: 8px; /* rounds the corners on your rectangle */
    padding: 12px 16px; /* 12 px top/bottom 16px right/left */
    margin-bottom: 52px;
     /* The padding spacing doesn't apply because the element is 
        inline by default. Switching to inline-block fixes that. */
    display:inline-block;
}

.banner a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

/* ******************** footer ********************* /