body {
    font-family:Arial, Helvetica, sans-serif;
    color: #0f172a;
    line-height: 1;
}

.container {
    width: 960px;
    margin: 0 auto;
    /* background-color: rgb(225, 225, 212); */
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header{
    background-color:#0f172a;
    padding: 24px;
    margin-bottom: 24px;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    color: #e2e8f0;
    width: 124px;
}

.banner {
    margin-left: 83px;
    margin-bottom: 48px;
}

.banner h2 {
    font-size: 35px;
    font-weight: bold;
    border-bottom: 3px solid #d946ef;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.banner p {
    margin-left: 82px;
    width: 465px;
}

.flex-container section {
    width: 300px;
}

.flex-container section h3 {
    font-size: 20px;
    font-weight: bold;
    border-top: 12px solid #d946ef;
    padding: 10px 0;
}

.flex-container section p{
    padding-top: 12px;
}

footer {
    margin-top: 96px;
}