body {
    font-family: Arial, Helvetica, sans-serif;
    color: #0f172a;
}

.container {
    width: 960px;
    margin: 0 auto;
    /* background-color: lightgray; */
}

.flex-container {
    display: flex;
    gap: 30px;
}

header {
    background-color:  #0f172a;
     color: white;
     padding: 24px;
     margin-bottom: 24px;
}
h1 {
    font-weight: bold;
    font-size: 25px;
    width:124px;
    line-height: 1;
}

.to-do {
    margin-left: 83px;
}

h2 {
    font-weight: bold;
    font-size: 34;
    line-height: 1;
    color: #0f172a;
    border-bottom: 3px solid #d943ef;
    padding-bottom: 5px;
    margin-bottom: 12px;
}

.banner {
    margin-left:83px;
    width:465px;
    margin-bottom: 48px;
}

.flex-container section p,
.flex-container section img {
    margin-top: 12px;
}

.flex-container section {
    border-top: 12px solid #d946ef;
    width: 300px;
}

footer {
    margin-top: 48px;
}