/* .modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}


.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

/* ******************** containers ************************* */
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width:960px;
    margin:0 auto;
    border: 1px solid black; /* to show the page, can be commented out */
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* ******************** general typography ****************** */
h1 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 22px 0;
  font-size: 86px;
}

h2 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 57px;
}

/* *********************** main banner section ************************** */

/* the image is not on top of the section BUT in the background of the section */
.banner {
    background-color: #b29789; /* place default background color */
    background-image: url(../img/banner-flower.png); /* place background image */
    padding-left: 35px;
    border-radius: 8px;
    margin-bottom: 70px;

    /* other background image attribute that can be used for adjustments */
    /* background-repeat:no-repeat; only one copy of image in area */
    /* background-size: cover;  have image fill the banner section */
    /* background-position:center;  place place image in center */
}

.banner h2 {
    padding-top: 30px;
}

.banner p {
    width: 339px;
    font-size: 40px;
    line-height: 1; /* this will adjust the line spacing. it is a multipler. No unit measure.*/
    margin-bottom: 27px;
}

.banner a {
    font-size: 18px;
    text-decoration: none; /* remove underline */
    color: black;
    font-weight: 500;
    background-color: #ffc800;
    border-radius: 8px; /* rounds the corners on your rectangle */
    padding: 12px 16px; /* 12 px top/bottom 16px right/left */
    margin-bottom: 52px;
     /* The padding spacing doesn't apply because the element is 
        inline by default. Switching to inline-block fixes that. */
    display:inline-block;
}

.banner a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

/* ******************** main columns ********************* */

.columns {
    text-align: center;
}

.columns h3{
    font-size: 34px;
    font-weight: bold;
    line-height: 1; /* brings the lines closer together, no unit measure as it is a multiplier */
    margin: 16px 0;
}

.columns .flex-container {
   justify-content: center;
   gap: 44px;
}
.columns .flex-container section{
    width: 200px;
    margin-bottom: 70px;
}
/* ******************** footer ********************* */

footer {
    /*background-color: #c1bc78;  place default background color */
    /* 
        different file types for your images can affect the speed your
            page travels to the user
        the footer flower has been save as various file types
        using the footer flower image of .png as the base, here is the
            ratio of the other types to .png

            png 1 : 1
            svg 29 : 1
            pjg 0.6 : 1
            pdf 1.44 : 1
            web 0.12 : 1 newest compression software
    */
     /* there are times you have an image that needs a color filter applied
            to get the effect you wish
       To accomplish this task, you can add the linear-gradient( ) attribute
            to your background-image.
       linear-gradient(start color, end color)
       if the color is the same then there is no visible gradient
       to get the filter intensity, we use the rgba() color notation
       rgba (red, green, blue, opacity %) where opacity % is 0 (none) to 1 (full 100%)

       NOTE: you cannot apply a linear-gradient() directly to an <img> tag, 
                because gradients only work on CSS backgrounds, and <img> uses 
                its own src image, not a background

        silver: hex #c0c0c0 rgb(192,192,192)
    */ 
    background-image:
                        linear-gradient(rgba(192,192,192,0.2),rgba(240, 14, 14, 0.8)),
                         url(../img/footer-flower.png); /* place background image */
    padding-left: 35px;
    border-radius: 8px;

}
footer .flex-container {
    gap: 14px;
    padding-top: 134px;
}

footer p {
    padding-bottom: 35px;
    margin-top: 35px; 
    width: 423px;
    font-size: 16px;
}